<div class="greeting">Chรo mแปซng {{fullName}} ฤแบฟn vแปi NextGenAI! ๐</div>

<div class="message">
  Cแบฃm ฦกn bแบกn ฤรฃ ฤฤng kรฝ tรi khoแบฃn tแบกi NextGenAI! Chรบng tรดi rแบฅt vui mแปซng ฤฦฐแปฃc
  chรo ฤรณn bแบกn vรo cแปng ฤแปng cแปงa chรบng tรดi.
</div>

<div class="info-box">
  <strong>๐ Bแบกn cรณ thแป lรm gรฌ vแปi NextGenAI:</strong>
  <ul style="margin: 10px 0; padding-left: 20px;">
    <li>Khรกm phรก hรng nghรฌn dแปฑ รกn mรฃ nguแปn chแบฅt lฦฐแปฃng cao</li>
    <li>Sแปญ dแปฅng AI Planner ฤแป lแบญp kแบฟ hoแบกch dแปฑ รกn thรดng minh</li>
    <li>Mua vร tแบฃi vแป cรกc template, component, vร แปฉng dแปฅng</li>
    <li>Tham gia cแปng ฤแปng developer sรกng tแบกo</li>
  </ul>
</div>

<div style="text-align: center; margin: 30px 0;">
  <a href="{{appUrl}}/marketplace" class="cta-button">
    ๐ Khรกm phรก Marketplace
  </a>
</div>

<div class="message">
  <strong>๐ก Mแบนo ฤแป bแบฏt ฤแบงu:</strong><br />
  โข Khรกm phรก cรกc dแปฑ รกn nแปi bแบญt trong trang chแปง<br />
  โข Sแปญ dแปฅng AI Planner ฤแป lแบญp kแบฟ hoแบกch dแปฑ รกn ฤแบงu tiรชn<br />
  โข Thรชm cรกc dแปฑ รกn yรชu thรญch vรo danh sรกch<br />
  โข Theo dรตi cรกc tรกc giแบฃ ฤแป nhแบญn thรดng bรกo cแบญp nhแบญt
</div>

<div class="divider"></div>

<div class="message" style="text-align: center; font-style: italic;">
  "Cรดng nghแป lร tฦฐฦกng lai, vร tฦฐฦกng lai bแบฏt ฤแบงu tแปซ ฤรขy!"<br />
  <strong>- NextGenAI Team</strong>
</div>